
<%= form_tag(user_create_path, :id => 'signup') do |f| %>
  <h2>Sign Up</h2>
  <%= render 'error_messages', object: @new_user %> 
  <%= label_tag(:first_name, "First Name", :class => "label_width") %>
  <%= text_field_tag(:first_name) %>

  <%= label_tag(:last_name, "Last Name", :class => "label_width") %>
  <%= text_field_tag(:last_name) %>
  
  <%= label_tag(:email, "Email", :class => "label_width") %>
  <%= text_field_tag(:email) %>

  <%= label_tag(:password, "Password", :class => "label_width") %>
  <%= password_field_tag(:password) %>

  <%= label_tag(:password_confirmation, "Password Confirmation", :class => "label_width") %>
  <%= password_field_tag(:password_confirmation) %>
  
  <div class="submit">
    <%= submit_tag("Sign Up", :class => "button") %>
  </div>
    
<% end %>

<%= form_tag(user_login_path, method: "post", :id => 'login') do %>
  <h2>Log In</h2>
  <%= render 'error_messages', object: @user %> 
  
  <%= label_tag(:login_email, "Email", :class => "label_width") %>
  <%= text_field_tag(:login_email) %>
  
  <%= label_tag(:login_password, "Password", :class => "label_width") %>
  <%= password_field_tag(:login_password) %>
  
  <div class="submit">
     <%= submit_tag("Log In", :class => "button") %>
  </div>
 

<% end %> 
